a.button {
    text-decoration: none;
    top: 1em;
    left: 1em;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 9em;
    text-align: center;
}

.menuButton {
    text-decoration: none;
    padding: .5em 1em;
    font-size: 1.1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.optionBar {
    position: fixed;
    top: -3em;
    left: 0;
    width: 100%;
    height: 3.75em;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.subOptionBar {
    position: fixed;
    top: -3em;
    left: 0;
    width: 100%;
    height: 3.75em;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#controlMenuButton {
    position: absolute;
    top: .5em;
    left: 1em;
}

#controlOptions {
    z-index: 900;
}

#objectOptions {
    z-index: 800;
}

#controls {
    position: relative;
    bottom: .5em;
}

#scaleSlider {
    margin-left: 1em;
    margin-bottom: 1em;
    width: 20em;
}

#information {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(125, 125, 125, .5);
}

#information div {
    margin: 0 1em .25em;
}

.info {
    color: lawngreen;
    font-size: 1.2em;
    margin-right: .5em;
}

.data {
    margin-left: 1em;
}

#cameraControls {
    position: absolute;
    width: 300px;
    height: 15em;
    top: calc(75% - 5em);
    left: calc(50% - 150px);
    padding-left: .5em;
    padding-right: .5em;
    background: rgba(125, 125, 125, .5);
    text-align: center;
}

.camControl {
    width: 50px;
    height: 35px;
    display: inline-block;
    margin-right: .25em;
    margin-top: .5em;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    overflow: hidden;
    cursor: default;

}

.beforeButton {
    position: relative;
    left: 60px;
}

.controlType {
    display: inline-block;
    margin-right: 3em;
}

#camControlDescription {
    width: 100%;
    margin-top: 1em;
    color: white;
    text-align: center;
}

.ui-slider-handle {
    color: #777777;
    font-size: 10px;
    padding: 3px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration:none;
}

#lightControls {
    position: absolute;
    width: 500px;
    height: 7.5em;
    top: 5em;
    left: calc(50% - 250px);
    background: rgba(125, 125, 125, .5);
    text-align: center;
    color: white;
}

#lightControls label {
    color: white;
}


progress[value] {
    -webkit-appearance: none;
    appearance: none;

    width: 275px;
    height: 10px;
}

progress::-webkit-progress-bar {
    background: transparent;
    border-radius: 15px;
    padding: 2px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

progress[value]::-webkit-progress-value {
    background-image:
    -webkit-linear-gradient(
            45deg,
    transparent 33%,
            rgba(0, 0, 0, .1) 33%,
    rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
    rgba(255, 255, 255, .25),
    rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #ff3344, #ffaf3a, #66AAFF, #21972e);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.lightInput {
    width: 4em;
    margin-right: 1em;
}

.lightButton {
    width: 4em !important;
    color: white !important;
    border-radius: 0;
    border: solid 1px white;
    margin-right: .5em;
    padding: .25em .1em;
}

.lightButton:hover {
    color: rgba(125, 125, 125, .5) !important;
    border: solid 1px rgba(125, 125, 125, .5);
    background: white;
}

input[type=color] {
    position: relative;
    top: 4px;
}